html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
    background: url(../images/pexels-photo-934062.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   }

a {
  text-decoration: none;
  color: inherit;
}

.container1 {
  overflow: hidden;
  *zoom: 1;
  margin: 0;
}

.site-content {
  padding-top: 66px;
}

.header {
  position: fixed;
  top: 5%;
  right: 100px;
  height: 66px;
  line-height: 66px;
  background-color: transparent;
}

.header__logo {
  font-weight: 700;
  padding: 0 25px;
  float: left;
}

.menu {
  float: left;
}
.menu a {
  padding: 0 10px;
}
.menu a:hover {
    background-color: lightgray;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .site-pusher,
  .site-container {
    height: 100%;
  }

  .site-container {
    overflow: hidden;
  }

  .site-pusher {
    transition-duration: 0.3s;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .header {
    position: static;
  }

  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
  }
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
  }

  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    padding-top: 15px;
    width: 250px;
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
    
    .menu a:hover {
    background-color: lightgray;
    border-radius: 5px;
}

  
    .master {
        margin-left: 15%;
    }
}